{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    <form novalidate="novalidate" action="{% if isCreate %}{{ path('BloggerAdminBundle_save_new_post') }}{% else %}{{ path('BloggerAdminBundle_submitEdition', { 'blog_id': blog.id }) }}{% endif %}"  {{ form_enctype(form) }} class="blogger">

        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.category) }}
        {{ form_row(form.image) }}
        {{ form_row(form.blog) }}

        {{ form_rest(form) }}

        <input type="submit" value="Save" />
    </form>
{% endblock %}
