{% block body %}

    <form action="{{ path('BloggerAdminBundle_edit_post', { 'blog_id' : blog.id }) }}"  {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.author) }}
        {{ form_row(form.category) }}
        {{ form_row(form.blog) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}