{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    <p style="font-size: 20px; font-weight: bold; text-align: right"><a href="{{ path('BloggerAdminBundle_create_new_post') }}">+Add Post</a></p>
    {% for blog in pagination %}
        <article class="blog">
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>

            {% set rights = (app.user and (app.user.username == blog.author or app.user.username == 'admin')) %}
            {% if rights %}
                <p style="font-size: 18px; font-family: 'Comic Sans MS'">Title: <span style="font-weight: bold">{{ blog.title }}</span> <span style="color: orange; font-style: italic"><a href="{{ path('BloggerAdminBundle_edit_post', { 'blog_id' : blog.id }) }}">(edit)</a></span></p>
            {% else %}
                <p style="font-size: 18px; font-family: 'Comic Sans MS'">Title: <span style="font-weight: bold">{{ blog.title }}</span></p>
            {% endif %}

            <footer class="meta">
                <p>Comments: {{ blog.comments|length }}</p>
                <p>Posted by {{ blog.author }} at {{ blog.created|date('h:iA') }}</p>
                <p>Tags: <span class="highlight">{{ blog.tagsAsString }}</span> </p>
                {% if rights  %}
                    <p style="font-size: 15px; color: orange; font-weight: bold; text-align: right"> <a href="{{ path ('BloggerAdminBundle_delete_post', { 'blogId': blog.id } ) }}">- Delete post</a></p>
                {% endif %}

            </footer>
        </article>
    {% else %}
        <p>There are no blog entries for symblog</p>
    {% endfor %}

    <div style="text-align: center; font-size: 18px; font-family: 'Open Sans'; font-weight: bold">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

