{% block body %}

    {% for flashMessage in app.session.flashbag.get('blogger-notice') %}
        <div style="text-align: center; padding: 10px; background: antiquewhite; border: 1px solid; color: #ff0000; margin-bottom: 10px;" >
            {{ flashMessage }}
        </div>
    {% endfor %}

    <form action="{% if isAdding %}{{ path('BloggerAdminBundle_submit_adding') }} {% else %} {{ path('BloggerAdminBundle_submitUserInfoEdition', { 'userId': user.id }) }} {% endif %}"  {{ form_enctype(form) }} class="blogger">

        {{ form_errors(form) }}

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.roles) }}
        {{ form_row(form.password) }}

        {{ form_rest(form) }}

        <input type="submit" value="Save"/>
    </form>
{% endblock %}