{% extends 'BloggerAdminBundle::layout.html.twig' %}

{% block body %}
    <p style="font-size: 20px; font-weight: bold; text-align: right"><a href="{{ path('BloggerAdminBundle_add_new_user') }}">+Add User</a></p>
    {% for user in pagination %}
        <article class="date">
            <div style="font-size: 18px">
                <span style="font-weight: bold; color: #0000BB">UserName:</span> <span style="color: orange"><a href="{{ path('BloggerAdminBundle_edit_info_of_concrete_user', {'userId':user.id}) }}">{{ user.username }}</a>  </span>
            </div>

            <footer style="font-size: 14px">
                Roles:{% for role in user.roles %}
                    <span>{{ role.name  }}</span>
                {% endfor %}
                <p style="font-size: 15px; color: orange; font-weight: bold; text-align: right"> <a href="{{ path ('BloggerAdminBundle_delete_userInfo', { 'userId': user.id } ) }}">- Delete this user</a></p>
            </footer>
        </article>
    {% endfor %}

    <div style="text-align: center; font-size: 18px; font-family: 'Open Sans'; font-weight: bold">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}